fastapi
uvicorn[standard]
motor
python-dotenv
google-generativeai
httpx
pytest
python-jose[cryptography]
bcrypt
python-multipart
email-validator
importlib-metadata
openai-whisper
openai
requests
transformers
torch
click
h11
websockets
